<template> 
    <div>
        <textarea :id="_uid" name="body" class="form-control"></textarea>
    </div>
</template>
<script>

    export default {
        data: function() {
            return {
                // name: 'Sakib'
            };
        },
        props: ['names'],
        mounted() {
            tinymce.init({ 
                selector: '#' + this._uid,
                plugins: 'autoresize anchor colorpicker media pagebreak preview table textcolor textpattern lists link image imagetools contextmenu codesample code advlist paste',
                toolbar: 'anchor undo redo styleselect bold italic underline alignleft aligncenter alignright bullist numlist outdent indent code media codesample forecolor backcolor image link numlist bullist pagebreak paste preview table',
                menubar: "insert tools file edit view format table",
                autoresize_bottom_margin: 50,
                autoresize_min_height: 350,
                contextmenu: "link image inserttable | cell row column deletetable",
                image_caption: true,
                imagetools_cors_hosts: ['blog.app', 'otherdomain.com'],
                default_link_target: "_blank"
            });
        }
    }
</script>
